<header class="header">
	<div class="container">
		<nav class="nav">
			<div class="logo">
				<a href="/">
					<img src="/img/doggo.png" alt="Doggo">
				</a>
			</div>
		<ul class="main-menu">
			<li><a href="/">Home</a></li>
			<li><a href="/users">Users</a></li>
			<li><a href="/users/register">Registration</a></li>
		</ul>
	</nav>
	</div>

</header>