<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<section class="hero__wrap">
	<div class="container">
		<h1>Welcome to Doggos club!</h1>
	</div>
</section>
<main class="main">
	<div class="container">
		<section class="about">
			<aside>
				<h2>Thanks to you, we are Doggos largest and fastest growing Club in the Pet Industry with 20,000+ members and we are growing everyday!</h2>
				<div class="about-text">
					<p>To come. Speak. Share your photos and news about your furry pets!</p>

					<p>We are a club for dog moms and dads, pet professionals and future dog parents!</p>

					<p>Our pet care experts host discussions on many topics: pet lifestyle, dog training, dog travel and walks, nutrition, protecting the health of your pets and much more!
					</p>		
				</div>
				<div class="about-members">
					<h2>Meet The Dog Lovers Team!</h2>
					<a href="/users" class="btn btn--pink">Click to see our members!</a>
				</div>
			</aside>
			<div class="home__cover">
				<img src="/img/home-cover.jpeg" alt="Home cover dog">
			</div>
		</section>
	</div>
</main>
<%- include('./partials/footer.ejs') %>